<!DOCTYPE html>
<html lang="en">

    <body>
        <a href="{% url 'home' %}">Home</a>

        {% if user.is_authenticated %}

            Logged in as {{ user.username }}

            <a href="{% url 'createtodo' %}">Make</a>
            <a href="{% url 'currenttodo' %}">Do</a>
            <a href="{% url 'completedtodo' %}">Done</a>

            <form action="{% url 'logoutuser' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>

            {% else %}

                <a href="{% url 'signupuser' %}">Sign Up</a>
                <a href="{% url 'loginuser' %}">Login</a>

        {% endif %}

        {% block content %}

        {% endblock content %}

    </body>

</html>