<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>

    <body>
        <a href="{% url 'home' %}">Home</a>

        {% if user.is_authenticated %}

            Logged in as {{ user.username }}

            <a href="{% url 'createtodo' %}">Make</a>
            <a href="{% url 'currenttodo' %}">Do</a>
            <a href="{% url 'completedtodo' %}">Done</a>

            <form action="{% url 'logoutuser' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>

            {% else %}

                <a href="{% url 'signupuser' %}">Sign Up</a>
                <a href="{% url 'loginuser' %}">Login</a>

        {% endif %}

        {% block content %}

        {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </body>

</html>