{% extends 'todo/base.html' %}

{% block content %}

    <p>
        Your completed  TO-DOs
    </p>

    <table>
        <tr>
            <th>Item</th>
            <th>Memo</th>
            <th>Due Date</th>
            <th>Completed Date</th>
        </tr>
        {% for todo in todos %}
            <tr>
                <td>
                    {% comment %} link to the specific item "todo.id" gets the id {% endcomment %}
                    <a href="{% url 'viewtodo' todo.id %}">
                        {% if todo.important %}<strong>{% endif %}
                            {{ todo.title }}
                        {% if todo.important %}</strong>{% endif %}
                    </a>
                </td>
                <td>{{ todo.memo }}</td>
                <td>{{ todo.duedate|date:'m.j.y H:i' }}</td>
                <td>{{ todo.datecompleted|date:'m.j.y H:i' }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}