{% extends 'todo/base.html' %}

{% block content %}

    <div class="container">
        <table class="table">
            <thead>
                <th></th>
                <th>Task</th>
                <th>Detail</th>
                <th>Due</th>
                <th>Done</th>
            </thead>
            {% for todo in todos %}
                <tr>
                    <td class="icon">
                        {% if todo.important == 'High' %}
                        <i class="bi bi-chevron-double-up" style="color: rgba(245,6,6,1);"></i>
                            {% elif todo.important == 'Medium' %}
                            <i class="bi bi-chevron-double-right" style="color: rgba(241,210,33,1);"></i>
                                {% elif todo.important == 'Low' %}
                                <i class="bi bi-chevron-double-down" style="color: rgba(73,238,73,1);"></i>
                                {% else %}
                                <i class="bi bi-box" style="color: rgba(123,126,123,1);"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% comment %} link to the specific item "todo.id" gets the id {% endcomment %}
                        <a href="{% url 'viewtodo' todo.id %}">
                            {{ todo.title }}
                        </a>
                    </td>
                    <td>{{ todo.memo }}</td>
                    <td>{{ todo.duedate|date:'m.j.y H:i' }}</td>
                    <td>{{ todo.datecompleted|date:'m.j.y H:i' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}