{% extends 'todo/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        {% if user.is_authenticated %}
        {{ error }}
        <form method="POST">
        {% csrf_token %}
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 mb-2">
                    {{ form.title }}
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 mb-2">
                    {{ form.memo }}
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-4 mb-2">
                    {{ form.important }}
                </div>
                <div class="col-md-4 mb-2">
                    {{ form.duedate }}
                </div>
            </div>  
            <div class="row align-items-center justify-content-center">
                <div class="col-8">
                    <div class="row align-items-center justify-content-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-lg btn-block btn_full">
                                <svg class="bi" fill="currentColor">
                                    <use xlink:href="{% static 'todo/icons/bootstrap-icons.svg' %}#check-circle-fill"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success btn-lg btn-block btn_full" disabled>
                                <svg class="bi" fill="currentColor">
                                    <use xlink:href="{% static 'todo/icons/bootstrap-icons.svg' %}#bullseye"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-danger btn-lg btn-block btn_full" disabled>
                                <svg class="bi" fill="currentColor">
                                    <use xlink:href="{% static 'todo/icons/bootstrap-icons.svg' %}#x-circle-fill"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

        {% else %}

            <p>
                Send to login screen
            </p>

        {% endif %}
    </div>

{% endblock content %}