{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        {% if user.is_authenticated %}
            {{ error }}

            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="row">
                    {{ form.memo|as_crispy_field }}
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.important|as_crispy_field}}
                    </div>
                    <div class="col">
                        {{ form.duedate|as_crispy_field}}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>

        {% else %}

            <p>
                Send to login screen
            </p>

        {% endif %}
    </div>

{% endblock content %}