{% extends 'todo/base.html' %}
{% load static %}

{% block content %}

    <div class="container">    
        <table class="table">
            <thead>
                <th></th>
                <th>Task</th>
                <th>Detail</th>
                <th>Due</th>
                <th></th>
                <th></th>
            </thead>
            {% for todo in todos %}
                <tr>
                    <td class="icon">
                        {% if todo.important == 'High' %}
                        <i class="bi bi-chevron-double-up" style="color: rgba(245,6,6,1);"></i>
                            {% comment %} <!-- Please refer: https://github.com/shubhamjain/svg-loader -->
                            <svg data-src="https://s.svgbox.net/loaders.svg?ic=rings" width="32" height="32" stroke="rgba(245,6,6,1)"></svg> {% endcomment %}
                            {% elif todo.important == 'Medium' %}
                            <i class="bi bi-chevron-double-right" style="color: rgba(241,210,33,1);"></i>
                                {% elif todo.important == 'Low' %}
                                <i class="bi bi-chevron-double-down" style="color: rgba(18,193,25,1);"></i>
                                {% else %}
                                <i class="bi bi-box" style="color: rgba(123,126,123,1);"></i>
                        {% endif %}                    </td>
                    <td>
                        {% comment %} link to the specific item "todo.id" gets the id {% endcomment %}
                        <a href="{% url 'viewtodo' todo.id %}">
                                {{ todo.title }}
                        </a>
                    </td>
                    <td class="memo">{{ todo.memo }}</td>
                    <td>
                        {% if todo.duedate is not None %}
                            {{ todo.duedate }}
                        {% endif %}
                    </td>
                    <td class="icon">
                        <form method="POST" action="{% url 'completetodo' todo.id %}">
                        {% csrf_token %}
                            <button type="submit" class="hidebtn">
                                <svg class="bi" fill="currentColor">
                                    <use xlink:href="{% static 'todo/icons/bootstrap-icons.svg' %}#bullseye"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                    <td class="icon">
                        <form method="POST" action="{% url 'deletetodo' todo.id %}">
                        {% csrf_token %}
                            <button type="submit" class="hidebtn">
                                <svg class="bi text-danger" fill="currentColor">
                                    <use xlink:href="{% static 'todo/icons/bootstrap-icons.svg' %}#x-circle-fill"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}