.container {
    margin-top: 25px;
}

.btn_full{
    width: 100%;
}

.bi{
    width: 1.5em;
    height: 1.5em;
}

table td.icon{
    width: 30px;
    text-align: center;
}

/* table td.memo{
    width: 65%;
} */

.btn-margin-left {
    margin-left: 5px;
}
